
<ion-content>
  <ion-slides padding pager="true">

    <ion-slide  class="slide-image">
      <ion-img src="../../assets/imagens/slide1.png" alt=""></ion-img>  
      <h1>Seja bem-vindo</h1>
      <p>Este app é um teste. Tem que ficar muito bom pra ganhar uma boa vaga de emprego!</p>
      <a (click)="goToTabsPage()">Ir para as Tabs</a>
    </ion-slide>

    <ion-slide class="slide-image">
        <ion-img src="../../assets/imagens/slide2.png" alt=""></ion-img>
      <h1>Slide 2</h1>
      <a (click)="goToTabsPage()">Ir para as Tabs</a>
    </ion-slide>

    <ion-slide class="slide-image">
        <ion-img src="../../assets/imagens/slide3.png" alt=""></ion-img>
      <h1>Slide 3</h1>
      <a (click)="goToTabsPage()">Ir para as Tabs</a>
    </ion-slide>
  </ion-slides> 
</ion-content>
